*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/coin2fly
src/coin2flyd
src/coin2fly-cli
src/coin2fly-tx
src/test/test_coin2fly
src/qt/test/test_coin2fly-qt
src/bench/bench_coin2fly

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
.coin2fly
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Unit-tests
Makefile.test
coin2fly-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_coin2fly.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests_config.py
qa/pull-tester/cache/*
qa/pull-tester/test.*/*
qa/tmp
cache/
share/BitcoindComparisonTool.jar

!src/leveldb*/Makefile

.cproject
.project
.autotools
/doc/doxygen/

libbitcoinconsensus.pc
src/qt/coin2fly-qt.bash
qa/pull-tester/tests-config.sh

#development symlinks
coin2fly-cli
coin2flyd
coin2fly-qt

#IDE
.idea
.travis.yml
.tx
coin2fly.config
coin2fly.creator
coin2fly.creator.user
coin2fly.files
coin2fly.includes
